<!DOCTYPE html>
<html>
  <head>
    <title>MyChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', data_turbolinks_track: true %>
    <%= javascript_include_tag 'application', data_turbolinks_track: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
